{
  # optional: use staging CA the first time to avoid rate limits,
  # then comment this out and reload
  # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
  # (optional) email for LE notifications
  email you@example.com
}

citizen-ckrikas.duckdns.org {
  encode gzip
  reverse_proxy citizen-portal:80
}

admin-ckrikas.duckdns.org {
  encode gzip
  reverse_proxy admin-portal:80
}

api-ckrikas.duckdns.org {
  reverse_proxy api:8000
}

auth-ckrikas.duckdns.org {
  reverse_proxy keycloak:8080
}

# Optional: MailHog UI on HTTPS (consider protecting it)
mail-ckrikas.duckdns.org {
  # basic auth (optional). Generate hash via: docker run --rm caddy caddy hash-password --plaintext 'secret'
  # basicauth /* {
  #   user JDJhJDEwJH...hashed...
  # }
  reverse_proxy mailhog:8025
}
